@font-face {
  font-family: 'iranyekan';
  font-style: normal;
  font-weight: normal;
  src:
    url('./farsi-font/fonts/iranyekanwebregular.eot') format('embedded-opentype'),
    url('./farsi-font/fonts/iranyekanwebregular.woff2') format('woff2'),
    url('./farsi-font/fonts/iranyekanwebregular.woff') format('woff'),
    url('./farsi-font/fonts/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('./farsi-font/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_Medium.eot');
  src:
    url('./farsi-font/fonts/IRANSansWeb/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('./farsi-font/fonts/IRANSansWeb/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('./farsi-font/fonts/IRANSansWeb/woff/IRANSansWeb(FaNum)_Medium.woff')
      format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('./farsi-font/fonts/IRANSansWeb/ttf/IRANSansWeb(FaNum)_Medium.ttf')
      format('truetype');
}
