.switch-container {
  position: relative;
}
.switch {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 50px;
  height: 25px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;

  &.small {
    width: 40px;
    height: 20px;
  }

  &.medium {
    width: 50px;
    height: 25px;
  }

  &.large {
    width: 60px;
    height: 30px;
  }

  .slider {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition:
      transform 0.3s,
      background-color 0.3s;
  }

  &.checked .slider {
    transform: translate(-25px, -50%);
  }
}
.switch-label {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  padding: 4px;
  cursor: default;
}
