.card {
  position: relative;
  height: 248px;
  min-width: min(calc(100% - 4px), 260px);
  max-width: 567px;
  direction: rtl;
  background-color: var(--white-color);
  border-radius: 6px;
  border: solid 0.5px var(--seperator-color);
  -webkit-box-shadow: var(--card-shadow-1);
  box-shadow: var(--card-shadow-1);
  overflow: hidden;

  .card-content,
  .card-image {
    height: 50%;
  }
  .card-image {
    background-color: gray;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  .card-content {
    position: relative;
  }
  .card-logo {
    position: absolute;
    top: -45%;
    right: 8px;
  }
  .card-details {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 20px 16px 8px 16px;
    height: 110px;
    direction: rtl;
  }
  .main-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .title {
    font-size: var(--text-medium);
    font-weight: var(--font-bold);
    color: var(--text-color);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    position: relative;
    width: unset;
    max-width: 100%;
    margin-left: 4px;
    text-overflow: ellipsis;
    line-height: 1.5;
  }
  .description {
    font-size: var(--text-small);
    font-weight: var(--font-regular);
    color: var(--text-color);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .rate {
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .rating {
    direction: ltr;
  }
  .additional {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .vote-count,
  .delivery-type {
    margin-left: 4px;
    font-size: var(--text-small);
    font-weight: var(--font-regular);
    color: var(--text-color-light);
  }
  .vote-count {
    font-size: var(--text-x-mid-small);
  }
  .delivery-fee {
    font-size: var(--text-x-mid-small);
    font-weight: var(--font-regular);
  }
}
// .card {
//   --card-size: 400px;
//   --img-size: 130px;

//   width: var(--card-size);
//   height: 248px;
//   max-width: 567px;
//   min-width: min(calc(100% - 4px), 260px);
//   background-color: var(--white-color);
//   direction: rtl;
//   border-radius: 6px;
//   border: solid 0.5px var(--seperator-color);
//   -webkit-box-shadow: var(--card-shadow-1);
//   box-shadow: var(--card-shadow-1);
// }
// .card-image {
//   height: 50%;
//   img {
//     width: 100%;
//     background-size: cover;
//     border-top-left-radius: 8px;
//     border-top-right-radius: 8px;
//   }
// }

// .card-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   padding: 10px;
//   height: 50%;
// }

// .card-logo {
//   background-color: #fff;
//   padding: 5px;
//   text-align: center;
//   border-radius: 50%;
//   margin: 0 auto;
// }
