.navbar {
  direction: ltr;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Change to your desired background color */
  padding: 10px 20px; /* Adjust the padding as needed */
  height: 74px; /* Adjust the height as needed */

  .navbar-logo {
    margin-top: 4px;
  }
  .navbar-links {
    direction: rtl;
    list-style: none;
    display: flex;
    gap: 20px;

    li {
      a {
        text-decoration: none;
        color: #fff; /* Change to your desired text color */
        transition: color 0.3s ease;

        &:hover {
          color: var(--primary-color); /* Change to your desired hover color */
        }
      }
    }
  }
}
