.logo {
  border-radius: 8px;
  background-color: var(--white-color);
  overflow: hidden;
  border: 6px solid var(--white-color);
  -webkit-box-shadow: var(--card-shadow-3);
  box-shadow: var(--card-shadow-3);
}
