// @import './styles/variables';
@import './styles/grid';

#app {
  direction: rtl;
  font-family: 'iranyekan', 'IRANSans', 'Arial', sans-serif;
  color: var(--text-1);
}
.container {
  display: flex;
  margin: auto;
  text-align: center;
}
